<h1><%= t('form.headers.edit', resource: Kind.model_name.human) %></h1>

<%= render 'form', kind: @kind %>

<%= link_to t('navigation.links.show'), @kind %> |
<%= link_to t('navigation.links.back'), kinds_path %>
