<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <%= link_to "BakeryStoreFront", root_path, {class: 'navbar-brand'} %>
      <%= content_tag("span", class:'navbar-toggler collapsed mr-3', 'data-bs-toggle' => 'collapse', 'data-bs-target' => '#navbarCollapse', 'aria-controls' => "navbarCollapse", 'aria-expanded' => false, 'aria-label' => "Toggle navigation") do %>
        <i class="bi bi-list"></i>
      <% end %>
      <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav me-auto mb-md-0 text-end">
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, {class: 'nav-link'} %>
          </li>
          <li class="nav-item">
            <%= link_to "Products", products_path, { class: 'nav-link'} %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
