    <section class="py-5 text-center">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Placeholder content</h1>
          <p class="lead text-muted">Edit me in app/views/welcome/index.html.erb</p>
        </div>
      </div>
    </section>
  </div>

</main>
