<div class="row d-flex justify-content-center align-items-center">
  <div class="col col-md-6 text-center">
    <h1>Bakery Store Front</h1>
    <p><%= t("messages.app.description") %></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-8 mx-auto">
    <%= render 'products/photos_carousel', photos: Product.all.map(&:photo) %>
  </div>
</div>
