<h1><%= t('form.headers.edit', resource: Size.model_name.human) %></h1>

<%= render 'form', size: @size %>

<%= link_to t('navigation.links.show'), @size %> |
<%= link_to t('navigation.links.back'), sizes_path %>
