@import "bootstrap";

main > .container {
  padding: 60px 0 0;
}

div.border-shadow {
  border-radius: 3px;
  box-shadow: 5px 5px 10px lightgray;
}

img.thumbnail {
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 5px 5px 10px lightgray;
}