<h2>Forgot your password?</h2>

<%= simple_form_for @user, url: password_path(@user) do |f| %>

  <%= f.input :email, wrapper_html: { class: 'row align-items-center my-3'}, input_html: {class: 'col', style:'margin-right: 15px'}, label_html: { class: 'col-6 col-lg-4'} %>
  <%= f.button :submit, "Send me reset password instructions" %>

<% end %>

<%= render "users/shared/links" %>
