<p><%= t('devise.mailer.email_changed.greeting', recipient: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('devise.mailer.email_changed.message_unconfirmed', recipient: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t('devise.mailer.email_changed.message', recipient: @resource.mail) %></p>
<% end %>
